@model MvcCv.Models.Entity.TblSertifikalarim
@{
    ViewBag.Title = "SertifikaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h2>Sertifika Ekleme Sayfasi</h2>
<br />
<form class="form-group" method="post">
    <br />
    @Html.Label("Aciklama")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control", @placeholder = "Baslik Yaziniz" })
    @Html.ValidationMessageFor(x => x.Aciklama, "", new { @style = "color:red" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control", @placeholder = "Tarih Yaziniz" })
    <br />
    <button class="btn btn-dark">Kaydet</button>
</form>

